spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/limit-service
    username: user
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    hibernate:
      ddl-auto: none
flyway:
  enabled: true
  locations: classpath:db/migrations
  baseline-on-migrate: true

limit-service:
  default-limit: 100000.00
  reservation-timeout-minutes: 5